body {
    font-family: 'Gruppo';
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71, #f39c12);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite cubic-bezier(0.645, 0.045, 0.255, 1);
}

.navbar {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    top: 1%;
    width: 95%;
    z-index: 2;
}

.file-manager {
    text-align: left;
    width: 80%;
    max-height: 80%;
}

.file-manager-table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background: white;
    width: 100%;
    border-collapse: collapse;
}

.file-manager-table td{
    padding: 10px;
}

button {
    margin: 0 5px
}

input[type="file"] {
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.file-manager-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.file-manager-table tr:hover {
    background-color: #ddd;
}

.small-icons {
    width: 50px; 
    height: auto;
    margin-right: 5px;
    border-radius: 50%;
}

.upload-form {
    display: flex;
    align-items: center;
}

#fileToUpload {
    display: none;
}

#upload-btn {
    background-color: #3498db;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#upload-btn:hover {
    background-color: #2980b9;
}

#logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logout-btn:hover {
    background-color: #da190b;
}

#toggle-visibility-btn {
    background-color: #ce72b4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggle-visibility-btn:hover {
    background-color: #8d3975;
}

.file-manager-table th:nth-child(1){
    width: 1%;
}

.file-manager-table th:nth-child(2){
    width: 5%;
}

.file-manager-table th:nth-child(3){
    width: 60%;
}

.file-manager-table th:nth-child(4),
.file-manager-table th:nth-child(5) {
    width: 15%; 
}

.file-manager-table th:nth-child(6) {
    width: 5%;
}

.download-btn {
    padding: 10px 15px;
    background-color: #62c901;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.download-btn:hover, .download-btn:focus {
    background-color: #3a7701;
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
}

.download-btn:active {
    background-color: #004085;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.download-all {
    padding: 5px 7.5px;
    background-color: #62c901;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.download-all:hover, .download-all:focus {
    background-color: #3a7701;
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
}

.download-all:active {
    background-color: #004085;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.delete-btn {
    padding: 10px 15px;
    background-color: #e70d0d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.delete-btn:hover, .delete-btn:focus {
    background-color: #c70d0d;
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
}

.public-btn {
    padding: 10px 15px;
    background-color: #4c81f6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.public-btn:hover, .public-btn:focus {
    background-color: #0a44c2;
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
}

.private-btn {
    padding: 10px 15px;
    background-color: rgb(214, 58, 58);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px white(0,0,0,0.2);
}

.private-btn:hover, .private-btn:focus {
    background-color: rgb(161, 37, 37);
    color: black;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
}

.delete-all {
    padding: 5px 7.5px;
    background-color: #e70d0d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.delete-all:hover, .delete-all:focus {
    background-color: #c70d0d;
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
}

.delete-all:active {
    background-color: #004085;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preview-img {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    max-width: 200px;
}